{% extends 'sites/base.html' %}
{% load static %}

{% block content %}
<h1> Projects </h1>
        <div class="projects"> 
            <h4> WebTec Projects </h4>
            <p> Portfolio  <a href="https://djgupta820.github.io/portfolio/" target="_top">Click here </a> </p>

            <p> Website <a href="https://djgupta820.github.io/portfolio/">Click here </a> </p>
        </div>

        <div class="projects"> 
            <h4> Python Projects</h4>
            <p> Hangman game </p>
            <p> Rock-paper-scissors game </p>
        </div>
{% endblock content %}